:root {
    --dark-grey-1: #0F0F0F;
    --dark-grey-2: #1a1a1a;
    --dark-grey-3: #333333;
    --primary: #7ed6df;
    --light-grey-1: #f9f9f9;
    --light-grey-2: #E6E6E6;

    --gradient: linear-gradient(110.9deg, rgba(159, 131, 216, 1) 2.6%, rgba(27, 245, 241, 1) 100.2%);
    --gradient-2: linear-gradient(110.9deg, rgba(159, 131, 216, 1) 2.6%, rgba(27, 245, 241, 1) 140%);

    --shadow-light: 0px 3px 10px rgba(0, 0, 0, 0.1);

}